@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.calc {
    width: 350px;
    height: 550px;
    background-color: rgb(37, 37, 37);
    margin: 30px auto;
    padding: 25px;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.screen {
    width: 350px;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.scHistory {
    width: 350px;
    height: 30px;
    display: flex;
}

.scHist {
    width: 70px;
    height: 30px;
    background-color: rgb(235, 232, 232);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    color:rgb(60, 63, 63);
    overflow:auto;
    padding: 1px;
}

.scOper {
    width: 350px;
    height: 50px;
    background-color: rgb(202, 201, 201);
    text-align: left;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color:rgb(60, 63, 63);
}

.scResult {
    width: 350px;
    height: 70px;
    background-color: rgb(202, 201, 201);
    text-align: right;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:rgb(60, 63, 63);
    overflow:auto;
}

.numButton {
    width: 70px;
    height: 70px;
    background-color: rgb(29, 86, 94);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:cyan;
    flex-grow: 1;
}

.opButton {
    width: 70px;
    height: 70px;
    background-color: rgb(230, 120, 17);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:rgb(16, 68, 68);
    flex-grow: 1;
}

.cleanButton {
    width: 70px;
    height: 70px;
    background-color: rgb(29, 86, 94);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:cyan;
    flex-grow: 1;
}

.pointButton {
    width: 70px;
    height: 70px;
    background-color: rgb(29, 86, 94);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:cyan;
    flex-grow: 1;
}

.resultButton {
    width: 70px;
    height: 70px;
    background-color: rgb(42, 134, 46);
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color:cyan;
    flex-grow: 2;
}

.freeButton {
    width: 70px;
    height: 70px;
    flex-grow: 1;
}

.numButton:hover, 
.opButton:hover, 
.cleanButton:hover, 
.pointButton:hover, 
.resultButton:hover,
.scHist:hover {
    background-color: rgb(201, 201, 61);
}

.numButton:active, 
.opButton:active, 
.cleanButton:active, 
.pointButton:active, 
.resultButton:active,
.scHist:active {
    background-color: rgb(51, 255, 0);
}